body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.coursePriamryImage {
  border-radius: 10px;
  width: 200px;
}

/* Color Palette
green: #a5f98d
pink: #fac7f3
yellow: #f5fac7
violet: #c7c9fa
purple: #ce88f5
*/